header {
    text-align: center;
    background-color: #6EB5E1;
    color: #FFFFFF;
    padding: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.caja {
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #6EB5E1;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
}

