<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asociacion Internacional de Yoga Yoguismo</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5t9z5lFfN6t2GOqFfHvd62bPQIwV2+Y6DqZM+2DQDJYe4dsyZkX2SEqag=="
        crossorigin="anonymous" />
</head>

<body>
    <header>
        <a class="navbar-brand" href="#">
            <h1><i class="fas fa-spa" style="color: rgb(128, 255, 0);">				
			</i> Asociacion Internacional de Yoga Yoguismo
			<i class="fas fa-spa" style="color: rgb(128, 255, 0);"></i>
			</h1>
            
        </a>
    </header>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b6379f3fe5.js" crossorigin="anonymous"></script>
</body>

</html>