<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<footer class="bg-dark text-white text-center py-3">
		<p>&copy; 2023 Averos (Arquitecto)| Becerra (junior) | Revelo (Scrum) | Salazar. Todos
			los derechos reservados.</p>
		<div>
			<!-- Redes sociales utilizando iconos de Bootstrap -->
			<a href="#" target="_blank" class="text-white"><i
				class="fab fa-facebook-f"></i></a> <a href="#" target="_blank"
				class="text-white"><i class="fab fa-twitter"></i></a> <a href="#"
				target="_blank" class="text-white"><i class="fab fa-instagram"></i></a>
		</div>
	</footer>
		<!-- Agregar los scripts de Bootstrap al final del cuerpo del documento para mejorar el rendimiento -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>